.item {
  width: 470px;
  display: flex;
  justify-content: space-between;
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
}

.container {
}

.thead {
}

.nameCol {
  width: 50%;

  text-align: left;
}

.ageCol {
  width: 50%;
  border-left: 2px solid black;
  text-align: right;
}
