.App {
  --header_height: 60px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.hw {
  width: 100%;
  margin: 100px 0;
}

.hwTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.messagesBlock {
  display: flex;
  flex-direction: column;
}
