.greetingForm {
}

.inputAndButtonContainer {
  width: 400px;

  input {
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 30px;
  }

  button {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
  }
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
  color: gray;
}

.greeting {
}
